/* App.css
 * Css file to show common css classes of the application
 * @Author: Dhanesh Pant
 * @Since: 28-April-2018
 */

.App {
  text-align: center;
}

.App-logo-left, .App-logo-right {
  height: 185px;
  transition: all 0.3s ease;
  border: 1px solid;
  border-radius: 4px;
}

.App-logo-left:hover, .App-logo-right:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  transition: all 0.3s ease;
  font-size: 1em;
}

.App-title:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
