/* Plot.css
 * Css file used for showing the plot of the grid in the application
 * @Author: Dhanesh Pant
 * @Since: 28-April-2018
 */

.plot {
	border: 1px solid #47413b;
    background-color: #00a4a4;
    width: 4em;
    height: 4em;
    display: grid;
    border-radius: 2px;
    align-items: center;
}