/* Home.css
 * Css file to show the Homepage css classes used in the application
 * @Author: Dhanesh Pant
 * @Since: 28-April-2018
 */

.Intro {
  	font-size: large;
}

#Home-container {
	border: 1px solid #596265;
    padding-right: 3%;
    padding-left: 3%;
    margin: 2%;
}

.Text-input-wrapper {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    padding: 1%;
    width: 50%;
}

.Text-input-wrapper >input {
	padding-left: 20px;
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Text-input-label {
    font-size: 16px;
    color: #596265;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Grid-container-wrapper {
	margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Game-information {
	color: #596265;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.Game-information p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 22s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
