/* GridBtn.css
 * Css file to show the Grid button css classes
 * @Author: Dhanesh Pant
 * @Since: 28-April-2018
 */

.Grid-btn-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding:1%;
	margin:2%;

}

.Grid-btn, .Disable-Grid-btn {
	height: 35px;
    width: 20%;
    border: 1px solid #596265;
    border-radius: 3px;
    background-color: #187E97;
    color: #ffffff;
}

.Disable-Grid-btn:hover {
	transition:none;
	cursor:not-allowed;
}

.Grid-btn:hover {
	transition: all 0.3s ease;
  	-webkit-transform: scale(0.9);
  	-ms-transform: scale(0.9);
  	transform: scale(0.9);
  	cursor: pointer;
}

